.btn {
  padding: 10px;
  font-size: 18px;
  background-color: #f27830;
  color: #ffffff;
  border-radius: 5px;
}

.content-button {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.input-user {
  padding: 5px;
  font-size: 12px;
  border-color: #f27830;
  border-radius: 5px;

}

.input-password {
  padding: 5px;
  font-size: 12px;
  border-color: #f27830;
  border-radius: 5px;

}

.imput-obs {
  padding: 5px;
  font-size: 12px;
  border-color: #f27830;
  border-radius: 5px;
  height: 200px;
}

.texts {
  color: #f27830;
}
