
<div  style="display: flex; justify-content: center;"><h3>Login</h3></div>
<div class="main-register" [formGroup]="form">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <table class="content-button">
            <tr>
                <td><input class="input-user" type="text" id="email" name="nome" size="45" formControlName="email" placeholder="email"> <br /></td>
            </tr>
            <tr>
                <td><input class="input-password" type="password" id="password" name="assunto" size="45" formControlName="password" placeholder="senha"> 
                    <span class="fa fa-fw fa-eye-slash toggle-password" 
                    style="margin-left: -25px; margin-top: -25px; position: relative; z-index: 2;" onclick="togglePassword()" id="tugow" ></span>
                </td>
            </tr>
        </table>

        <div style="margin-top: 20px; display: flex;">

            <button class="btn" id="login" (click)="authenticated()">Entrar</button>
            <div style="margin-right: 135px;"></div>
            <button class="btn" routerLink="register">Cadastro</button>

        </div>
        <div class="legend-forgot" routerLink="forgot-password">Esqueceu sua senha?</div>
    </div>
</div>
