.container-input {
  margin-bottom: 30px;
}

.input-date {
  border-radius: 5px;
  background-color: #f2dbae;
  border: 1px solid #f27830;
  padding: 5px 10px;
  width: 50%;
}

.btn {
  padding: 10px;
  font-size: 18px;
  background-color: #f27830;
  color: #ffffff;
  border-radius: 5px;
}

.btn {
  transition: 200ms background-color;
}

.btn:hover {
  background-color: #c75c19;
}
