<span class="legend">TURMAS</span>
<div class="main-register">

  <div [formGroup]="form">
  <div class="container-input">
    <input class="input" formControlName="codigo" placeholder="Codigo da turma">
  </div>

  <div class="container-input">
    <textarea class="input" formControlName="description" placeholder="Descrição"></textarea>
  </div>

  <div style="display: flex; justify-content: space-between;">
    <button class="button" >CANCELAR</button>
    <button class="button" (click)="register()">CADASTRAR</button>
  </div>
</div>
</div>
