<div
  [formGroup]="form"
  style="display: flex; flex-direction: column; align-items: center"
>
  <p class="texts" id="token">Digite o token enviado para o email: {{ data.email }}</p>
  <input
    class="input"
    type="text"
    name="nome"
    size="45"
    formControlName="token"
  />

  <p class="texts" style="margin-top: 15px">Digite a nova senha</p>
  <input
    type="password"
    class="input"
    name="nome"
    size="45"
    formControlName="password"
  />

  <p class="texts" style="margin-top: 15px">Confirme a senha</p>
  <input
    type="password"
    class="input"
    autofocus
    placeholder="confirmar senha"
    formControlName="passwordConfirm"
    id="passwordConfirm"
  />
</div>
<div style="justify-content: flex-end; width: 100%; display: flex">
  <button
    class="button"
    style="margin-top: 15px"
    [mat-dialog-close]="data"
    (click)="validPassword()"
  >
    Validar
  </button>
</div>
