
<div style="display: flex; align-items: center; flex-direction: column; justify-content: space-between;">
    <h3>Equipe</h3>
    <div style="display: flex; align-items: center; flex-direction: column;">
        <div class="container-block" style="margin: 10px">
            <markdown [data]="markdown4" style="display: flex; flex-direction: column; align-items: center;"></markdown>
        </div>
        <div class="container-block" style="margin: 10px">
            <markdown [data]="markdown" style="display: flex; flex-direction: column; align-items: center;"></markdown>
        </div>
        <div class="container-block" style="margin: 10px">
            <markdown [data]="markdown2" style="display: flex; flex-direction: column; align-items: center;"></markdown>
        </div>
        <div class="container-block" style="margin: 10px">
            <markdown [data]="markdown3" style="display: flex; flex-direction: column; align-items: center;"></markdown>
        </div>
    </div>

    <br />
    
</div>
