.btn {
  padding: 10px;
  font-size: 18px;
  background-color: #f27830;
  color: #ffffff;
  border-radius: 5px;
}

.btn {
  transition: 200ms background-color;
}

.btn:hover {
  background-color: #c75c19;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}
